---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../config";
import Link from "../components/Link.astro";
import ExperienceItem from "../components/ExperienceItem.astro";

const bd = Math.floor(
  (new Date().valueOf() - new Date("1999-03-16").valueOf()) /
    (1000 * 60 * 60 * 24 * 365)
);
const aside = "text-sm text-gray-500 dark:text-gray-400";
const hasPII =
  !!import.meta.env.PUBLIC_TELEPHONE && !!import.meta.env.PUBLIC_ADDRESS;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"CV | " + SITE_TITLE}
      description={bd +
        " y/o full-stack dev from Denmark, cand.scient in Computer Science, coffee lover"}
    />
  </head>
  <body
    class="min-h-screen md:flex print:flex flex-col items-center dark:bg-zinc-800"
  >
    <Header title={SITE_TITLE} class="md:max-w-6xl px-4 print:hidden" />
    <main class="md:max-w-6xl py-2 md:p-4 print:py-0">
      <div class="md:flex print:flex flex-col sm:flex-row-reverse px-2 sm:px-0">
        <div>
          <h1 class="text-4xl sm:pt-2 pb-2 sm:pl-4 print:pt-2">
            Simon Green Kristensen
          </h1>
          <p class="sm:pl-4">
            Full-stack engineer with a Master's in Computer Science and 2 years
            of part-time, startup experience. I enjoy working with new and
            exciting web technologies, but have experience with TypeScript,
            React and TailwindCSS. I am adaptable and a fast learner, which
            helps me find problems in my own and other's code before actual
            problems show up. I love developing ways to make life easier for
            myself and others, which usually leads me to software analysis and
            web development projects. I have spent a lot of time honing my
            skills with hobby projects, which includes a command-line tool for
            competitive programming and web-based games.
          </p>
        </div>
        <details
          id="info"
          open
          class="flex flex-col sm:px-4 pt-4 w-full sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 print:pt-2"
        >
          <summary class="font-bold cursor-pointer sm:hidden"
            >Contact info and links</summary
          >
          <a
            class="text-lime-700 dark:text-lime-300 hover:underline"
            href="mailto:me@simon-green.dev">me@simon-green.dev</a
          >
          {
            hasPII && (
              <>
                <a
                  class="text-lime-700 dark:text-lime-300 hover:underline"
                  id="phone"
                  href={"tel:+45 " + import.meta.env.PUBLIC_TELEPHONE}
                >
                  +45 {import.meta.env.PUBLIC_TELEPHONE}
                </a>
                <span class="tracking-tight" id="address">
                  {import.meta.env.PUBLIC_ADDRESS}
                </span>
              </>
            )
          }
          <Link
            id="linkedin"
            href="https://www.linkedin.com/in/simon-g-k/"
            fallback="linkedin.com/in/simon-g-k"
          >
            {"LinkedIn"}
          </Link>
          <Link
            href="https://github.com/Duckapple"
            class="print:tracking-tight"
            fallback="github.com/Duckapple"
          >
            {"GitHub"}
          </Link>
          <Link
            href="/projects"
            class="print:tracking-tight"
            fallback="simon-green.dev/projects"
          >
            {"Projects"}
          </Link>
        </details>
      </div>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2
            id="education"
            class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0"
          >
            Education
          </h2>
        </div>
        <ExperienceItem
          anchor="computer-science"
          title="Msc: Computer Science (Software Analysis)"
          link="https://itu.dk/"
          linkText="IT University of Copenhagen"
          timespan="Sep '21 – Jul '23"
          tags="Coq, Formal Verification, Scala, Software Analysis, Idris, OCaml, C++, Electronics, Systems Performance, MDSE"
        >
          <p class="pb-2">
            During my studies, I took courses on software analysis, the art of
            trying to find errors and problems in programs via analysis, which
            often involves new and exciting type systems. These include Program
            Verification, Advanced Software Analysis, and Modelling Systems
            Languages, as well as a research project and the thesis.
          </p>
          <p class="pb-2">
            The thesis itself was about providing a code completion/suggestion
            ranking algorithm for the formal verification system Coq. The type
            system for Coq is very expansive, which provides opportunities for
            more specific suggestions, at the cost of low performance due to
            having to compare types. Our work can be found on <Link
              href="https://github.com/coq-community/vscoq"
            >
              {"the VSCoq project"}
            </Link>.
          </p>
          <p>
            Other cool courses:
            <ul class="list-disc pl-6">
              <li>
                How to Make Almost Anything; had fun learning about prototyping
                physical products and robots.
              </li>
              <li>
                Game Programming; taught me C++ and matrix operations, as well
                as Entity Component Systems and other game engine tricks.
              </li>
              <li>
                Computer Systems Performance; didn't learn how to improve
                performance, but rather how to measure performance, as well as
                how the hardware works.
              </li>
            </ul>
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="software-development"
          title="Bsc: Software Development"
          link="https://itu.dk/"
          linkText="IT University of Copenhagen"
          timespan="Sep '18 – Jul '21"
          tags="C#, .NET, TypeScript, Web Design, CSS, C, SQL, Multithreading, Reactivity, Scrum, Java, JavaScript, Business Processes, HTML"
        >
          <p class="pb-2">
            Learned to program in multiple languages and paradigms using
            different design patterns. This was combined with courses on team
            collaboration, preliminary analysis, DevOps, design, and more.
          </p>
          <p class="pb-2">
            One of my favourite courses was Programs As Data. Getting into the
            internals of compilers and interpreters was exciting, especially
            seeing how to perform operations on the syntax tree and optimising
            languages.
          </p>
          <p>
            My final project was on creating an imperative-style programming
            language with reactive elements. Together with my mate Jonas
            Lindenskov, we implemented the language in C#, creating a neat proof
            of concept. It is accessible on our Github Organisation
            <Link href="https://github.com/jolnsigkitu">jolnsigkitu</Link>.
          </p>
        </ExperienceItem>
      </section>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2
            id="experience"
            class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0"
          >
            Experience
          </h2>
        </div>
        <ExperienceItem
          anchor="firmnav"
          title="Full-Stack Software Developer"
          link="https://firmnav.com/"
          linkText="Firmnav"
          timespan="Jul '20 – Jul '22"
          tags="TypeScript, React, Tailwind, GraphQL, PostgreSQL, NodeJS, Express, Pulumi, TypeORM, DevOps, Docker, DigitalOcean, S3"
        >
          <p>
            Firmnav creates AI-powered data aggregations and predictions, but
            used to be a company database and search engine when I worked there.
            My role was full-stack software development on a fin-tech SaaS
            TypeScript web app with Express backend and NodeJS pipeline. I was
            responsible for benchmark visualisations, HubSpot and SalesForce CRM
            integrations, data layout selector, company relationship
            visualisations, and general platform improvements and bug fixes.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="teaching-assistant"
          title="Teaching Assistant"
          link="https://itu.dk/"
          linkText="IT University of Copenhagen"
          timespan="Jan – Dec '20 and Sep '22 – Jul '23"
          tags="Algorithms, Web, JS, CSS, HTML, Networking, Java, Python, Scala, F#, AI"
        >
          <p class="pb-2">
            I have led exercise classes, corrected assignments, and helped
            students get through the courses.
          </p><p>
            I have been a teaching assistant for 7 courses:
            <ul class="list-disc sm:list-none pl-6 sm:pl-0">
              <li class="flex-shrink-0" title="Jan - Jul '20">
                <span class="font-bold">Algorithms and Data Structures</span> teaching
                theoretical worst-case performance of sorting and such,
              </li>
              <li class="flex-shrink-0" title="Jan - Jul '20">
                <span class="font-bold"
                  >Systematic Design of User Interfaces</span
                > teaching about web design and technologies,
              </li>
              <li class="flex-shrink-0" title="Seb - Dec '20">
                <span class="font-bold">Mobile and Distributed Systems</span> teaching
                networking and threading with Java,
              </li>
              <li class="flex-shrink-0" title="Seb - Dec '22">
                <span class="font-bold">Algorithm Design</span> teaching about dynamic
                programming, min-cut max-flow, and whether P = NP,
              </li>
              <li class="flex-shrink-0" title="Seb - Dec '22">
                <span class="font-bold">Advanced Programming</span> teaching about
                Monads in 7 different ways in Scala,
              </li>
              <li class="flex-shrink-0" title="Jan - Jul '23">
                <span class="font-bold">Functional Programming</span> teaching functional
                programming with F#, and
              </li>
              <li class="flex-shrink-0" title="Jan - Jul '23">
                <span class="font-bold"
                  >Introduction to Artificial Intelligence</span
                > teaching &alpha;&beta;-minimax, binary decision diagrams, etc.
              </li>
            </ul>
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="analog-barista"
          title="Volunteer Barista"
          link="https://cafeanalog.dk/"
          linkText="Café Analog"
          timespan="Sep '22 – Jul '23"
          tags="Espresso, Latte, Board Games"
        >
          <p>
            I volunteered as a barista at the student café at my university,
            both to learn more about coffee and to get to know more of my fellow
            students.
          </p>
        </ExperienceItem>
      </section>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2
            id="projects"
            class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0"
          >
            Projects
          </h2>
        </div>
        <ExperienceItem
          title="Tile Game"
          anchor="tile-game"
          link="https://tile-game.simon-green.dev"
          tags="Vue, Express, WebSockets, Tailwind"
        >
          <p>
            I made a web-based implementation of the board game <Link
              href="https://boardgamegeek.com/boardgame/230802/azul"
              fallback="Azul"
            >
              {"Azul"}
            </Link>. It is implemented with Vue and Express, using WebSockets
            for communication between players and the server.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="color-picker"
          title="Color Picker"
          link="https://color-picker.simon-green.dev"
          tags="JavaScript, Web"
        >
          <p>
            I wanted to be able to extract the colors used in my favourite text
            editor theme, and therefore I made this little tool. It accepts a
            text snippet, and attempts to extract all colors used in the text,
            using small swatches to display them to the user.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="kat"
          title="Kat: A Kattis Helper"
          link="https://github.com/Duckapple/Kat"
          linkText="Kat on GitHub"
          tags="Python, CLI, Competitive Programming"
        >
          <p>
            Kat is a tool for retrieveing, testing and submitting problems to
            <Link href="https://open.kattis.com">Kattis</Link>, a code challenge
            platform. It can help in getting contest data, organises your
            solutions, and helps you in helping yourself troubleshoot your
            solutions by running your own fuzzers.
          </p>
        </ExperienceItem>
        <!-- Markdown Tables, Coq Suggestions -->
      </section>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2 id="hobbies" class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0">
            Hobbies
          </h2>
        </div>
        <ExperienceItem anchor="coffee" title="Coffee" hidden>
          <p>
            I love the taste of coffee, I love the process of making coffee, I
            simply love coffee. If you'd like to work with me, then an actual
            espresso machine with a steamer is closer to a need than a want.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="bouldering"
          title="Bouldering"
          tags="Problem Solving, Fitness"
        >
          <p>
            I go bouldering with my mates about once a week, primarily at
            Boulders Sydhavnen. We also gathered up a bunch of us in the Summer
            of '22 and went to Kjugekull, Sweden, where we climbed on actual
            boulders. I went with the same crew to get certified for top-rope
            climbing, which I'm looking forward to doing more.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="keyboards"
          title="Keyboards"
          tags="Electronics, CAD, Design"
        >
          <p class="pb-1">
            I have spent a lot of time tweaking and perfecting the
            functionality, look, and feel, of my homemade black-and-gray split
            ergonomic keyboard, based on the Dactyl-Manuform. <!-- Built with lubed and filmed
            Kailh Palias, adorned with blank DSA-profile keycaps, and with an
            inbuild trackball for light navigation while using it, all
            hand-soldered with wires and diodes, this keyboard is my dream
            build. -->
            <br />
            It is not finished yet, but it will be Soon&trade;.
          </p>
          <aside class={aside}>
            Can you call it a hobby if you only have 1.5 keyboards?
            <br />
            I suppose non-hobbyists would have a whole number of keyboards in their
            possesion...
          </aside>
        </ExperienceItem>
        <ExperienceItem
          anchor="3d-printing"
          title="3D Printing"
          tags="CAD, Design, Painting"
        >
          <p>
            I have an Ender 3 at home I have used to print the aforementioned
            split ergo keyboard, <!-- my miniature paint holder, a friend's board
            game organizer, -->
            among many other nice things and doodads. Being able to design something,
            and then immediately be able to make a version I can hold in my hand,
            is so empowering.
          </p>
        </ExperienceItem>
        <div class="flex px-2 sm:px-0">
          <div
            class="sm:w-64 sm:px-4 pb-6 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4 text-right"
          >
          </div>
          <div class="flex flex-col">
            <div>
              <h3 class="text-xl inline">Interests Lightning Round</h3>
              <span class={aside}>
                &ndash; would take up too much space otherwise</span
              >
            </div>
            <p>
              Board games, Electronic music, Electronics tinkering, Dancing at
              parties, Video games, Cooking, Competitive Programming, Game
              Development, Math
            </p>
          </div>
        </div>
      </section>
    </main>
    <Footer />
    <script>
      const infoElement = document.getElementById("info");
      function setOpen() {
        const clientWidth = document.body.clientWidth;
        const sm = 640;
        infoElement.open = clientWidth > sm;
      }
      window.addEventListener("resize", setOpen);
      setOpen();
    </script>
  </body>
</html>
