---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE } from "../../config";
import Link from "../../components/Link.astro";
import ExperienceItem from "../../components/ExperienceItem.astro";

const bd = Math.floor(
  (new Date().valueOf() - new Date("1999-03-16").valueOf()) /
    (1000 * 60 * 60 * 24 * 365)
);
const aside = "text-sm text-gray-500 dark:text-gray-400";
const hasPII =
  !!import.meta.env.PUBLIC_TELEPHONE && !!import.meta.env.PUBLIC_ADDRESS;
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <BaseHead
      title={"CV | " + SITE_TITLE}
      description={bd +
        "-årig full-stack udvikler fra Danmark, cand.scient i Datalogi, kaffe-elsker"}
    />
  </head>
  <body
    class="min-h-screen md:flex print:flex flex-col items-center dark:bg-zinc-800"
  >
    <Header title={SITE_TITLE} class="md:max-w-6xl px-4 print:hidden" />
    <main class="md:max-w-6xl py-2 md:p-4 print:py-0">
      <div class="md:flex print:flex flex-col sm:flex-row-reverse px-2 sm:px-0">
        <div>
          <h1 class="text-4xl sm:pt-2 pb-2 sm:pl-4 print:pt-2">
            Simon Green Kristensen
          </h1>
          <p class="sm:pl-4">
            Full-stack softwareudvikler med en kandidat i Datalogi og 2 års
            deltidserfaring i et startup og 1½ som lærerassistent. Jeg kan godt
            lide at arbejde med nye og spændende web-teknologier, men har mest
            erfaring med TypeScript, React og TailwindCSS. Jeg lærer hurtigt,
            hvilket hjælper mig med at finde fejl i kode inden problemer dukker
            op. Jeg elsker at udvikle værktøjer der gør livet lettere for mig
            selv og andre, hvilket typisk har ledt mig til softwareanalyse- og
            webudviklingsprojekter. Jeg har brugt en del tid på at hone mine
            evner med hobbyprojekter, herunder web-baserede spil og et
            CLI-værktøj lavet til kompetitiv programmering.
          </p>
        </div>
        <details
          id="info"
          open
          class="flex flex-col sm:px-4 pt-4 w-full sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 print:pt-2"
        >
          <summary class="font-bold cursor-pointer sm:hidden"
            >Kontaktinfo og links</summary
          >
          <a
            class="text-lime-700 dark:text-lime-300 hover:underline"
            href="mailto:me@simon-green.dev">me@simon-green.dev</a
          >
          {
            hasPII && (
              <>
                <a
                  class="text-lime-700 dark:text-lime-300 hover:underline"
                  id="phone"
                  href={"tel:+45 " + import.meta.env.PUBLIC_TELEPHONE}
                >
                  +45 {import.meta.env.PUBLIC_TELEPHONE}
                </a>
                <span class="tracking-tight" id="address">
                  {import.meta.env.PUBLIC_ADDRESS}
                </span>
              </>
            )
          }
          <Link
            id="linkedin"
            href="https://www.linkedin.com/in/simon-g-k/"
            fallback="linkedin.com/in/simon-g-k"
          >
            {"LinkedIn"}
          </Link>
          <Link
            href="https://github.com/Duckapple"
            class="print:tracking-tight"
            fallback="github.com/Duckapple"
          >
            {"GitHub"}
          </Link>
          <Link
            href="/projects"
            class="print:tracking-tight"
            fallback="simon-green.dev/projects"
          >
            {"Projekter"}
          </Link>
        </details>
      </div>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2
            id="education"
            class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0"
          >
            Uddannelse
          </h2>
        </div>
        <ExperienceItem
          anchor="computer-science"
          title="Msc: Datalogi (Softwareanalyse)"
          link="https://itu.dk/"
          linkText="IT-Universitetet i København"
          timespan="Sep '21 – Jul '23"
          tags="Coq, Formel Verficering, Scala, Softwareanalyse, Idris, OCaml, C++, Elektronik, Systems Performance, MDSE"
        >
          <p class="pb-2">
            Under mine studier tog jeg kurser i softwareanalyse, kunsten i at
            prøve at finde fejl og problemer i programmer via analyse, hvilket
            ofte involverer nye og spændende typesystemer. Dette inkluderer
            Program Verification, Advanced Software Analysis og Modelling
            Systems Languages, såvel som et research-projekt og
            kandidatspecialet.
          </p>
          <p class="pb-2">
            Selve specialet handlede om at lave en forslagsalgoritme til Coq, et
            sprog brugt til formel verificering. Typesystemet i Coq er meget
            finkornet, hvilket giver mulighed for at fremskaffe mere specifikke
            forslag end "normale" sprog, på bekostning af hastighed grundet
            sammenligning af typer. Vores arbejde kan findes på <Link
              href="https://github.com/coq-community/vscoq"
            >
              {"VSCoq-projektet"}
            </Link>.
          </p>
          <p>
            Andre fede kurser:
            <ul class="list-disc pl-6">
              <li>
                How to Make Almost Anything; havde det sjovt med at prototype
                fysiske produkter og robotter.
              </li>
              <li>
                Game Programming; lærte mig C++ og matriceoperationer, såvel som
                Entity Component Systems og andre tricks til at udvikle spil.
              </li>
              <li>
                Computer Systems Performance; lærte ikke om hvordan ydeevne
                forbedres,men rettere hvordan man måler ydeevne, samt hvordan
                hardware fungerer.
              </li>
            </ul>
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="software-development"
          title="Bsc: Softwareudvikling"
          link="https://itu.dk/"
          linkText="IT-Universitetet i København"
          timespan="Sep '18 – Jul '21"
          tags="C#, .NET, TypeScript, Web Design, CSS, C, SQL, Multithreading, Reaktivitet, Scrum, Java, JavaScript, Business Processes, HTML"
        >
          <p class="pb-2">
            Lærte at programmere i flere sprog og paradigmer ved hjælp af
            diverse designmønstre. Dette var kombineret med kurser om samarbejde
            i teams, forhåndsanalyser, DevOps, design mm.
          </p>
          <p class="pb-2">
            Et af mine yndlingskurser var Programmer som Data. At komme ind i
            indmaden på compilere og interpreters var spændende, specielt at se
            hvordan man laver operationer på syntakstræet og hvordan sprog
            optimeres.
          </p>
          <p>
            Mit bachelorprojekt handlede om at lave et imperativt
            programmeringssprog med reaktive elementer. Sammen med min ven Jonas
            Lindenskov implementerede vi sproget i C#, og lavede derved en fed
            prototype. Det er tilgængeligt på vores Github Organisation
            <Link href="https://github.com/jolnsigkitu">jolnsigkitu</Link>.
          </p>
        </ExperienceItem>
      </section>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2
            id="experience"
            class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0"
          >
            Erfaring
          </h2>
        </div>
        <ExperienceItem
          anchor="firmnav"
          title="Full-Stack Softwareudvikler"
          link="https://firmnav.com/"
          linkText="Firmnav"
          timespan="Jul '20 – Jul '22"
          tags="TypeScript, React, Tailwind, GraphQL, PostgreSQL, NodeJS, Express, Pulumi, TypeORM, DevOps, Docker, DigitalOcean, S3"
        >
          <p>
            Firmnav laver data-aggregering og forudsigelser via AI, men var en
            virksomheds-søgemaskine og -database da jeg arbejdede der. Min rolle
            var full-stack softwaresoftwareudvikling på en fin-tech SaaS
            TypeScript web app med en Express backend og NodeJS pipeline. Jeg
            var ansvarlig for features som benchmark-visualisering, HubSpot and
            SalesForce CRM-integrationer, data layout vælger, visualisering af
            firmarelationer, og generelle forbedringer til platformen.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="teaching-assistant"
          title="Lærerassistent"
          link="https://itu.dk/"
          linkText="IT-Universitetet i København"
          timespan="Jan – Dec '20 and Sep '22 – Jul '23"
          tags="Algoritmer, Web, JS, CSS, HTML, Netværk, Java, Python, Scala, F#, AI"
        >
          <p class="pb-2">
            Jeg har ledt øvelsestimer, rettet afleveringer, og hjulpet
            studerende med at komme gennem kurserne.
          </p><p>
            Jeg har været tilknyttet 7 kurser:
            <ul class="list-disc sm:list-none pl-6 sm:pl-0">
              <li class="flex-shrink-0" title="Jan - Jul '20">
                <span class="font-bold">Algoritmer og Datastrukturer</span> som handlede
                om teoretiske køretider af sortering og søgning,
              </li>
              <li class="flex-shrink-0" title="Jan - Jul '20">
                <span class="font-bold"
                  >Systematisk Design af Brugergrænseflader</span
                > som handlede om web-design og web-teknologier,
              </li>
              <li class="flex-shrink-0" title="Seb - Dec '20">
                <span class="font-bold">Mobile og Distribuerede Systemer</span> som
                handlede om netværk og tråde i Java,
              </li>
              <li class="flex-shrink-0" title="Seb - Dec '22">
                <span class="font-bold">Algorithm Design</span> som handlede om dynamisk
                programmering, min-cut max-flow, og om P = NP,
              </li>
              <li class="flex-shrink-0" title="Seb - Dec '22">
                <span class="font-bold">Advanced Programming</span> som handlede
                om 7 slags monader i Scala,
              </li>
              <li class="flex-shrink-0" title="Jan - Jul '23">
                <span class="font-bold">Funktionel Programmering</span> som handlede
                om railway-programming i F#, and
              </li>
              <li class="flex-shrink-0" title="Jan - Jul '23">
                <span class="font-bold"
                  >Introduction to Artificial Intelligence</span
                > som handlede om &alpha;&beta;-minimax, binary decision diagrammer.
              </li>
            </ul>
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="analog-barista"
          title="Frivillig Barista"
          link="https://cafeanalog.dk/"
          linkText="Café Analog"
          timespan="Sep '22 – Jul '23"
          tags="Espresso, Latte, Brætspil"
        >
          <p>
            Jeg var frivillig barista i studentercafeen på min universitet, både
            for at lære mere om kaffe og lære mine medstuderende at kende. Jeg
            blev tildelt "Barista of the Semester" for at være ekstraordinært
            hjælpsom og dele mit gode humør med de andre baristaer.
          </p>
        </ExperienceItem>
      </section>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2
            id="projects"
            class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0"
          >
            Projekter
          </h2>
        </div>
        <ExperienceItem
          title="Tile Game"
          anchor="tile-game"
          link="https://tile-game.simon-green.dev"
          tags="Vue, Express, WebSockets, Tailwind"
        >
          <p>
            Jeg lavede en web-baseret implementation af brætspillet <Link
              href="https://boardgamegeek.com/boardgame/230802/azul"
              fallback="Azul"
            >
              {"Azul"}
            </Link>. Det er implementeret med Vue og Express, og bruger
            WebSockets til kommunikation mellem serveren og spillerne.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="color-picker"
          title="Color Picker"
          link="https://color-picker.simon-green.dev"
          tags="JavaScript, Web"
        >
          <p>
            Jeg ville gerne kunne hive farverne ud af mit yndlings editor-tema,
            og til det lavede jeg dette værktøj. Det tager mod en bid tekst og
            forsøger at hive alle farvekoder ud af teksten, og bruger små
            swatches til at vise dem til brugeren.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="kat"
          title="Kat: Hjælp til Kattis"
          link="https://github.com/Duckapple/Kat"
          linkText="Kat på GitHub"
          tags="Python, CLI, Kompetitiv Programmering"
        >
          <p>
            Kat er et værktøj til at hente, teste og aflevere problemer til
            <Link href="https://open.kattis.com">Kattis</Link>, en platform til
            kode-problemer. Kat kan hente information om konkurrencer,
            organiserer dine løsninger, og hjælper dig med at oprette og køre
            fuzzere på dine løsninger.
          </p>
        </ExperienceItem>
        <!-- Markdown Tables, Coq Suggestions -->
      </section>
      <section>
        <div class="flex">
          <div
            class="sm:w-64 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4"
          >
          </div>
          <h2 id="hobbies" class="block w-full text-2xl pt-6 pb-2 px-2 sm:px-0">
            Hobbier
          </h2>
        </div>
        <ExperienceItem anchor="coffee" title="Kaffe" hidden>
          <p>
            I love the taste of coffee, I love the process of making coffee, I
            simply love coffee. If you'd like to work with me, then an actual
            espresso machine with a steamer is closer to a need than a want.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="bouldering"
          title="Bouldering"
          tags="Problemløsning, Fitness"
        >
          <p>
            Jeg klatrer med mine venner en gang om ugen, primært hos Boulders
            Sydhavnen. Vi samlede os også i sommeren '22 og tog til Kjugekull,
            Sverige, hvor vi klatrede på rigtige kampesten. Jeg tog med det
            samme slæng ud for at blive certificeret i sikring af topreb, som
            jeg også glæder mig til at gøre mere af.
          </p>
        </ExperienceItem>
        <ExperienceItem
          anchor="keyboards"
          title="Keyboards"
          tags="Elektronik, CAD, Design"
        >
          <p class="pb-1">
            Jeg har brugt meget tid på at færdiggøre og forbedre
            funktionaliteten, udseendet og følingen på mit hjemmelave sorte og
            grå split-ergonomiske keyboard som er baseret på Dactyl-Manuform. <!-- Built with lubed and filmed
            Kailh Palias, adorned with blank DSA-profile keycaps, and with an
            inbuild trackball for light navigation while using it, all
            hand-soldered with wires and diodes, this keyboard is my dream
            build. -->
            <br />
            Kun halvdelen er færdig indtil videre, men det er færdigt Snart&trade;.
          </p>
          <aside class={aside}>
            Kan man kalde det en hobby hvis jeg kun har 1.5 keyboards?
            <br />
            Tja, ikke-hobbyister ville nok eje et lige antal keybords...
          </aside>
        </ExperienceItem>
        <ExperienceItem
          anchor="3d-printing"
          title="3D-Print"
          tags="CAD, Design, Fremstilling"
        >
          <p>
            Jeg har en Ender 3 jeg har brugt til at printe tidligere nævnte
            split ergo keyboard, <!-- my miniature paint holder, a friend's board
            game organizer, -->
            samt mange andre ting og himstregimser. Det er tilfredsstillende at kunne
            designe noget, og med det samme kunne lave en version jeg holder i min
            hule hånd.
          </p>
        </ExperienceItem>
        <div class="flex px-2 sm:px-0">
          <div
            class="sm:w-64 sm:px-4 pb-6 flex-shrink-0 sm:bg-lime-50 sm:dark:bg-lime-900 sm:mr-4 text-right"
          >
          </div>
          <div class="flex flex-col">
            <div>
              <h3 class="text-xl inline">Interesser: Lyn-runde</h3>
              <span class={aside}>
                &ndash; ellers ville det fylde for meget</span
              >
            </div>
            <p>
              Brætspil, Elektronisk Musik, Lege med elektronik, Danse til
              fester, Videospil, Madlavning, Kompetitiv Programmering,
              Spiludvikling, Fysik og Matematik
            </p>
          </div>
        </div>
      </section>
    </main>
    <Footer />
    <script>
      const infoElement = document.getElementById("info");
      function setOpen() {
        const clientWidth = document.body.clientWidth;
        const sm = 640;
        infoElement.open = clientWidth > sm;
      }
      window.addEventListener("resize", setOpen);
      setOpen();
    </script>
  </body>
</html>
